
.text {
    font-family: 'Dancing Script', cursive; 
  font-size: 2rem;
  color: #D87093; 
  text-align: center;
  margin-top: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}


body {
    margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  background: linear-gradient(45deg, #5c6bc0, #8e99f3); /* Gradiente suave com apenas dois tons de azul */
  background-size: 400% 400%; /* Aumenta a área do gradiente para maior movimento */
  animation: gradientBackground 5s ease infinite; /* Animação do fundo */  
}

img {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 15px auto;
  padding: 10px;
  background-color: rgb(233, 189, 189);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} 

.texto {
  font-size: 1.5rem;
  color: #332929;
  margin-top: 10px;
  font-style: italic;
  text-align: center;

    
}

@keyframes gradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
